<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Estudante</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="registration-page">
<div th:replace="~{navbar :: navbar}"></div>

<div class="container">
  <h1>Cadastro de Estudante</h1>
  <form role="form" th:action="@{/students/register}" method="POST" th:object="${studentRegistrationRequest}">
    <div class="form-group">
      <label for="name" class="form-label">Nome:</label>
      <input type="text" id="name" name="name" th:field="*{name}" class="form-input" required />
    </div>

    <div class="form-group">
      <label for="birthDate" class="form-label">Data de Nascimento:</label>
      <input type="date" id="birthDate" name="birthDate" th:field="*{birthDate}" class="form-input" required />
    </div>

    <div class="form-group">
      <label for="cep" class="form-label">CEP:</label>
      <input type="text" id="cep" name="cep" th:field="*{cep}" class="form-input" required pattern="\d{8}" />
    </div>

    <div class="form-group">
      <label for="course" class="form-label">Curso:</label>
      <input type="text" id="course" name="course" th:field="*{course}" class="form-input" required />
    </div>

    <button type="submit" class="submit-btn">Salvar</button>
  </form>

  <a href="/cancel">
    <button type="button" class="cancel-btn">Cancelar</button>
  </a>
</div>
</body>
</html>
